<ion-content>
  <div class="container top">
    <img src="/assets/img/makeup.png">
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Arraste para o lado para mais informações</h2>
        <ion-button color="tertiary" routerLink="/login" shape="round">Pular</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Bem Vindo ao Virtual Make Up!</h2>
        <ion-button color="tertiary" routerLink="/login" shape="round">Pular</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Crie suas pesquisas</h2>
        <ion-button color="tertiary" routerLink="/login" shape="round">Pular</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Compartilhe com o mundo</h2>
        <ion-button color="tertiary" routerLink="/login" shape="round">Pular</ion-button>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="container bottom ion-text-center">
    <span>The app was created for makeup lovers.</span>
  </div>
</ion-content>