.container {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    z-index: 2;

    &.top { 
        top: 5%;
    }

    &.bottom {
        bottom: 10%;

        span {
            color: var(--ion-color-tertiary);
        }
    }
}

ion-slide { background-color: #ffece5; }

ion-label { color: var(--ion-color-dark); }

ion-slides {
    height: 100%;

    .slide-inner {
        width: 80%;
        color: var(--ion-color-primary-contrast);
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;

        ion-item {
            --background: #2c3440;
            --border-radius: 10px;

            ion-input {
                --color: var(--ion-color-primary-contrast);
            }
        }

    }
}